.instock{
  background-color: greenyellow;
  color:black;
}
.nostock{
  background-color: red;
  color:white;
}



.App{
  display: grid;
  grid-template-areas: ". pl .";
}

.card{
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
}